.blue-background {
  border: 2px solid #83bfd2;
  border-radius: 12px;
  min-height: calc(-100px + 100vh);
  height: fit-content;
  margin-right: 18px;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 160px;
}

@media (max-width: 860px) {
  .blue-background {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.topbar-icon {
  font-size: 28;
  width: 40px;
  height: 40px;
  color: #747474;
  justify-content: flex-end;
  background-color: #e6f7fc;
  border-radius: 5px;
  padding: 1px;
  margin-right: 9px;
}

.topbar-button:hover {
  background-color: unset !important;
}

.topbar-search-container {
  max-width: 344px;
  width: 100%;
  margin-right: auto;
}

#topbar-search {
  border: 3px solid rgba(77, 164, 234, 0.2);
  width: 100%;
  max-width: 344px;
  border-radius: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 27px;
  background-color: #f9f9f9;
}

#topbar-search::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #979797;
}

.sidebar-navigation li {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 33px;
}

.sidebar-link {
  text-decoration: none;
  opacity: 100%;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  color: #505050;
}

.sidebar-link-active {
  text-decoration: none;
  opacity: 100%;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  background-color: #e6f7fc;
  color: #1c7ed9;
}

.sidebar-link-active svg {
  color: #1c7ed9;
}

.sidebar-link:visited {
  color: #505050;
}

.sidebar-link div:hover {
  border-radius: 10px;
}

@media (max-width: 860px) {
  .topbar-search-container {
    display: none;
  }
}
