.blue-background {
    background-color:#E6F7FC; 
    border: 2px solid #83BFD2;
    border-radius:12px;
    min-height: calc(-100px + 100vh);
    height:fit-content;
    margin-top:100px;
    margin-right:40px;
    border-bottom:0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0;
}

