.edit-report-main-container {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding-bottom: 45px;
  border: 1px solid #919eab;
}
.edit-report-title {
  font-size: 25px;
}

.edit-report-top-section {
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  padding-top: 15px;
  padding-left: 36px;
}

.edit-report-column-one {
  height: 100%;
  min-height: 400px;
  margin-top: 42px;
  margin-left: 32px;
  margin-right: 20px;
  border: 1px solid #919eab;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.edit-report-column-two {
  height: 75%;
  min-height: 400px;
  margin-top: 42px;
  margin-left: 32px;
  border: 1px solid #919eab;
  border-radius: 15px !important;
  box-shadow: none !important;
  margin-right: 47px;
}

.report-paragraph {
  font-size: 16px;
  margin-left: 33px;
  color: rgba(80, 80, 80, 1);
  font-weight: 700;
  margin-bottom: 13px;
}

.switch-editreport {
  margin-left: 25px;
}

.switch-text {
  display: inline-flex;
  flex-direction: row;
  font-size: 14px;
  color: rgba(80, 80, 80, 1);
  font-weight: 700;
}

.edit-reports-bottom {
  margin-top: 75px;
  display: flex;
  justify-content: flex-end;
}

.bottom-section-buttons {
  background-color: #ddf7ff;
  border: 1px solid rgba(145, 158, 171, 1);
  color: #1c7ed9;
  text-align: center;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 9px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  max-width: 120px;
  cursor: pointer;
  margin-right: 60px;
  text-align: center;
  justify-content: center;
  transition: 0.3s;
}
