.bg-box {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #919eab;
  border-radius: 15px;
}

.form-bg-box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0px 18px 54px 18px;
}

.photo-box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #919eab;
  border-radius: 15px;
  padding: 45px;
  margin-left: 18px;
}

.form-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #919eab;
  border-radius: 15px;
  padding: 45px 45px 60px 45px;
}

.pass-box {
  border: 1px solid #919eab;
  border-radius: 15px;
  height: 100%;
  width: 300px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 50px;
}

.two-fact-box {
  border: 1px solid #919eab;
  border-radius: 15px;
  height: 100%;
  width: 300px;
  padding: 20px;
  margin-top: 30px;
}

.noti-box {
  border: 1px solid #919eab;
  border-radius: 15px;
  height: 300px;
  width: 350px;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 14px;
}

.upload-button {
  width: 180px;
  height: 180px;
}

.save-button {
  background-color: #ddf7ff;
  border: 1px solid rgba(145, 158, 171, 1);
  color: #1c7ed9;
  font-size: 18px;
  position: absolute;
  width: 100%;
  border-radius: 9px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  max-width: 120px;
  cursor: pointer;
  margin-right: 30px;
  justify-content: center;
  transition: 0.3s;
}

.save-button:hover {
  transition: 0.3s;
  background: #1c7ed9;
  color: #ddf7ff;
}
